* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 25%;
    background-color: #b03333;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-img {
    width: 250px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.profile h1 {
    font-size: 50px;
    margin: 0;
}

.about{
    margin-top: 10px;
    font-size: 20px;
}

.nav {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
    margin-bottom: 10px;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    border: 1px solid transparent;
    margin-bottom: 3px;
    font-size: 20px;
}

.nav-item:hover {
    background-color: #fff;
    color: #b03333;
}